body {
  background-color: #b1e3fa;
  background-image: url("images/RainbowStripe.png");
  background-size: cover;
  cursor: url('svg/beeCursor.svg'), auto;
height: 924 px;
width: 1899 px;
  
}



 h1 {
  color: #6F518F;
  font-family: modak;
  font-size: 80px;
  -webkit-text-stroke: black 0.1px;

  /*position: absolute;
  top: 300px;
   left: 300px;*/
}

h2 {
  color: #ff95a9;
  font-family: chicle;
  font-size: 25px;
  -webkit-text-stroke:black 0.1px;
  
 /* position: absolute;*
   top: 560px;
left: 300px; */

} 


.page-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  height: 100vh;
  grid-template-areas:
    "l l . . . m m t t t t . "
    ". n n n n n . . . r r r "
    ". . . . . . b b b b . . ";
}

.leftCloud {
  /* position: absolute;
  top: 0px;
 left: 0px; */
  grid-area: l;
}

.bottomCloud {
  /*position: absolute;
  right: 300px;
  bottom: 0px;*/

  grid-area: b;

  .cls-1 {
    fill: #a3d17b;
  }

  .cls-2, .cls-3 {
    fill: none;
  }

  .cls-4 {
    fill: #fffffa;
    stroke: #231f20;
  }

  .cls-4, .cls-3 {
    stroke-miterlimit: 10;
    stroke-width: 3px;
  }

  .cls-3 {
    stroke: #010101;
  }

  .cls-5 {
    clip-path: url(#clippath);
  }
}


.rightCloud {
  /* position: absolute;
  top: 350px;
  right: 0px; */
  grid-area: r;

  .cls-1, .cls-2 {
    fill: none;
  }

  .cls-3 {
    fill: #44c4da;
    stroke-linejoin: round;
  }

  .cls-3, .cls-2 {
    stroke: #231f20;
    stroke-width: 3px;
  }

  .cls-2 {
    stroke-miterlimit: 10;
  }

  .cls-4 {
    fill: #fffef9;
  }

 .cls-5 {
    clip-path: url(#clippath);
  }
}

.topCloud {
  /* position: absolute;
  top: 0px;
  right: 100px; */

  grid-area: t;
}

.monogram-container {
  /* position: absolute;
  top: 0px;
  padding-right: 100px; */
  grid-area: m;
}

.nametext-container{
  grid-area: n;
}

/* Instagram SVG styles /
#instagram .st2 {
    fill: #FFFEF9;
    stroke: #231F20;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

#instagram .st3 {
    fill: none;
    stroke: #231F20;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/ Top Cloud SVG styles /
#top-cloud .st1 {
    fill: #FFFFFA;
    stroke: #231F20;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

/ Left Cloud SVG styles /
#left-cloud {
    fill: #FFFEF9;
    stroke: #231F20;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

/ Monogram SVG styles */
.monogram-container{
grid-area: m;

  .cls-1 {
    fill: #fed769;
  }

  .cls-2 {
    fill: none;
  }

  .cls-2, .cls-3, .cls-4, .cls-5 {
    stroke: #231f20;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3px;
  }

  .cls-3 {
    fill: #a3d17b;
  }

  .cls-4 {
    fill: #f594a9;
  }

  .cls-5 {
    fill: #44c4da;
  }
  
}

/* .monogram-container .blue-fill {
  fill: #44C4DA;
}

.monogram-container .pink-fill {
  fill: #F594A9;
}

.monogram-container .green-fill {
  fill: #A3D17B;
} */