/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #b1e3fa;
  background-image: url("images/RainbowStripe.png");
  background-size: cover;
  cursor: url('images/beeCursor.png'), auto;
  margin: 0; /* Remove default margin */
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}

.page-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Twelve columns */
  grid-template-rows: repeat(8, 1fr); /* Eight rows */
  height: 100vh;
  width: 100vw; 
}

h1 {
  color: #6F518F;
  font-family: modak;
  font-size: 80px;
  -webkit-text-stroke: black 0.1px;
  grid-column: span 12; /* Span across all columns */
  text-align: left; /* Align text to the left */
}

h2 {
  color: #ff95a9;
  font-family: chicle;
  font-size: 25px;
  -webkit-text-stroke: black 0.1px;
  grid-column: span 12; /* Span across all columns */
  text-align: left; /* Align text to the left */
}

/* blank cloud */
.top-left-cloud {
  grid-column: 1 / 4; /* First three columns */
  grid-row: 1 / 4; /* First three rows */
  width: 100%; /* Ensure it takes full width */
}

/* social media clouds */
.linkedin-cloud {
  grid-column: 8 / 13; /* Last four columns */
  grid-row: 5 / 8; /* Last two rows */
  margin-bottom: 10%;
}

.instagram-cloud {
  grid-column: 8 / 13; /* Last four columns */
  grid-row: 3 / 4; /* Fifth and sixth rows */
}

.email-cloud {
  grid-column: 2 / 11; /* Second to eleventh columns */
  grid-row: 7 / 9; /* Last two rows */
}

.monogram-container {
  grid-column: 5 / 9; /* Center four columns */
  grid-row: 1 / 2; /* First row */
  display: grid;
  justify-content: center;
  align-items: center;
}

.name-text-container {
  grid-column: 5 / 9; /* Center four columns */
  grid-row: 3 / 4; /* Third row */
  display: grid;
  justify-content: center;
  align-items: center;
}

/* svg color styling */
.yellow {
  fill: #fed769;
}
.pink {
  fill: #f594a9;
}
.green {
  fill: #a3d17b;
}
.blue {
  fill: #44c4da;
}
.cloud {
  fill: white;
}
.stroke {
  stroke: #231f20;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3px;
}

@media screen and (max-width: 768px) {
  body {
    background-color: #b1e3fa;
    background-image: url("images/RainbowStripe.png");
    background-size: cover;
  }
  
}